[submodule "Carthage/Checkouts/Result"]
	path = Carthage/Checkouts/Result
	url = https://github.com/antitypical/Result.git
[submodule "Carthage/Checkouts/APIKit"]
	path = Carthage/Checkouts/APIKit
	url = https://github.com/ishkawa/APIKit.git
